* body {
  padding: 0;
  box-sizing: border-box;
  background-image: url(./imagenes/efecto-polvo-1.png);
}

/*PORTADA*/

.f{
  color: #8bacba;
}

.titulo_primero {
  text-align: center;
  position: relative;
  margin: 50px 0px;
  color: rgb(131, 130, 130);
  font-size: 25px;
  border-radius: 1px;
  font-family: 'Rochester', cursive;

}


.primer_span {
  color: #8bacba;
}

.container {
  width: 85%;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

img {
  width: 100%;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0px 3px 5px rgba(rgb(255, 176, 176), rgb(38, 39, 38), brgb(65, 65, 66) alpha);
}

/*CUENTA REGRESIVA*/

.container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdown {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
}

.countdown span {
  color: #6b6b6c;
}

.countdown div {
  display: grid;
  place-items: center;
  padding: 10px;
}

.reloj {
  display: grid;
  place-items: center;
  border: solid 1px rgb(241, 241, 241);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: rgb(114, 114, 114);
  font-size: 3rem;
  font-weight: bold;
  background-color: #c6f2fc;
}

.final-sms {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  transform: translateY(-100%);
  transition: ease-in-out 0.5s;
  background-color: rgb(112, 111, 111);
}

.final-sms h2 {
  text-align: center;
  font-size: 100px;
  color: rgb(251, 238, 171);
}

@media (max-width: 730px) {
  .reloj {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: rgb(114, 114, 114);
    font-size: 18px;
    font-weight: bold;
    background-color: #edf7fe;
  }

  .countdown {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
  }
}





/*SECCION*/


.container__1 {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto
}

.container__1 .card {
  width: 320px;
  height: 380px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(206, 225, 249, 0.922);
  overflow: hidden;
  margin: 30px;
  text-align: center;
  transition: all 0, 25s;
}

.container__1 .card:hover {
  transform: translateX(-15px);
  box-shadow: 0 12px 16px rgb(198, 243, 248);
}


.container__1 .card img {
  width: 80px;
  height: 80px;
}

.container__1 .card h4 {
  font-size: 17px;
  font-family: 'Arima', cursive;
  color: #7f787a;

}

.container__1 .card .parrafo {
  padding: 0 2rem;
  font-size: 20px;
  font-weight: 300px;
  font-family: 'Tinos', serif;
  color: #7f787a;
}

.boton_1 {
  padding: 10px 30px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 1400;
  border: none;
  color: rgb(64, 63, 63);
  background-color: rgba(194, 229, 225, 0.964);
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px rgb(228, 207, 248);
  cursor: pointer;
}

.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.boton {
  width: 20px;
  transition: ease 2s;
}







@media (max-width: 730px) {

  .container-footer {
    margin-top: 100px;
  }

  .container__1 .card img {
    width: 70px;
    height: 70px;
  }

  .titulo_footer{
    color: #787676;
    text-align: center;
    font-size: 25px;
    font-family: 'Rochester', cursive;
  }
.flores{
  width: 120px;
}
.sitio {
  text-decoration: none;
  color: #787676;
}
.span_2 {
  text-decoration: none;
  color: #a2e0fa;
}
}

@media (min-width: 1024px){ 
footer .information {
  margin-top: 450px;
  
  font-size: 14px;
  text-decoration: none;
  text-align: center;
} 

.sitio {
  text-decoration: none;
  color: #787676;
}
.span_2 {
  text-decoration: none;
  color: #a2e0fa;
}
.titulo_footer{
  color: #787676;
    text-align: center;
    font-size: 35px;
    font-family: 'Sacramento', cursive;
}
main .flores{
  width: 300px;
  text-align: center;
}
 }